<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <environments default="development">
    <environment id="development">
    	<!-- MANAGED : 컨테이너가 트랙잭션을 관리 -->
      <transactionManager type="MANAGED"/>
      <!-- UNPOOLED:컨텍션풀을 사용하지 않겠다 -->
      <dataSource type="UNPOOLED">
        <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
        <property name="username" value="ROOT"/>
        <property name="password" value="ROOT"/>
      </dataSource>
    </environment>
  </environments>
  <!-- 매퍼파일들 매핑 -->
  <mappers>
  	<mapper resource="mybatis/BoardMapper.xml"/>
  	<mapper resource="mybatis/BoardfileMapper.xml"/>
  	<mapper resource="mybatis/ReplyMapper.xml"/>
  	<mapper resource="mybatis/MemberMapper.xml"/>
  </mappers>
  
</configuration>
